.pieBox{
  width: 12.05rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: .18rem;
  color:#fff;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.89rem;
  &.mt{
    margin-top: .82rem;
  }
  .pie{
    width:1.1rem;
    flex-shrink: 0;
    min-height: 2.55rem;
    margin-right: .62rem;
    margin-bottom: .65rem;
    &.active{
        cursor: pointer;
        .details{
            background-color: #2F3D57;
            color:rgba(255,255,255,0.5);
            border:1px solid #646A74;
        }
    }
    &:nth-child(7n){
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }

    .svg{
      width: 1.1rem;
      height: 1.1rem;
      background-color: rgba(47,61,87,0.5);
      border-radius: 50%;
      padding:.05rem;
      margin-bottom: .13rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: rgba(47,61,87,1);
      }
    }
    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: .22rem;
      .name{
        height: .3rem;
        line-height: .17rem;
        font-size: .18rem;
        position: relative;
        margin-bottom: .13rem;
        white-space: nowrap;
        &:after{
          content: '';
          width:.28rem;
          height: 2px;
          background-color: #1E293D;
          position: absolute;
          bottom:0;
          left:50%;
          transform: translateX(-50%);
        }
      }
      .percentage{
          height: .19rem;
          line-height: 19px;
          font-size: .22rem;
          display: flex;
          justify-content: center;
          span:nth-child(2){
              margin-left: .2rem;
          }
      }
    }

    .stat{
        font-size: .2rem;

        span{
            white-space: nowrap;
            margin-left: -.10rem;
            color:rgba(255,255,255,0.5);
            i{
                margin-left: .1rem;
            }
        }
    }

    .details{
        font-size: .18rem;
        width: .99rem;
        height: .39rem;
        background-color: #1A2539;
        border:1px solid #2B3649;
        border-radius: .2rem;
        color:rgba(57,68,87,0.5);
        text-align: center;
        line-height: .39rem;
        margin-top: .28rem;
    }
  }
}
