.prev{
    position: fixed;
    top:.36rem;
    left: .55rem;
    width: 1.43rem;
    height: .39rem;
    background-color: #2F3D57;
    border-radius: .2rem;
    border:1px solid #646A74;
    text-align: center;
    line-height: .39rem;
    color: rgba(255,255,255,0.5);
    font-size: .18rem;
    z-index: 999;
    cursor: pointer;

}
