.title{
  width:3.8rem;
  height:.23rem;
  margin:.95rem auto .26rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color:#fff;
  .serial{
    position: absolute;
    width:100%;
    text-align: center;
    left:0;
    top:-.34rem;
    color:rgba(255,255,255,.5);
    font-size: .22rem;
    height: .18rem;
    line-height: .18rem;
  }
  &:before,&:after{
    content: '';
    width:1.08rem;
    height:1px;
    background-color: rgba(255,255,255,.1)
  }
  .content{
    width:1.65rem;
    flex-shrink: 0;
    text-align: center;
    height: .23rem;
  }
  .text{
    text-align: center;
    font-size: .24rem;
    vertical-align: top;
    white-space: nowrap;
  }
  .english{
    position: absolute;
    font-size: .12rem;
    left:50%;
    transform:translateX(-50%);
    font-weight: 300;
    bottom:-.19rem;
    height: .1rem;
    line-height: .1rem;
    white-space: nowrap;
    &:after{
      content: '';
      position: absolute;
      height: 1px;
      width:.28rem;
      background-color: #384863;
      left:50%;
      transform: translateX(-50%);
      bottom:-.07rem;
    }
  }
}
