.overview{
    width: 12.87rem;
    height: 5.33rem;
    margin: .85rem auto 0;
    svg{
        width: 100%;
        height:100%;
    }
    .ygLine line{
      stroke-width:1;
      stroke:#384863;
    }
    .ygLine text{
      fill:none;
      stroke:#384863;
    }
}
