.types{
  width:16.59rem;
  margin: .85rem auto 0;
  display: flex;
  justify-content: space-between;
  .item{
    width:2.6rem;
    height:5.4rem;
    background-color: rgba(47,61,87,.5);
    position: relative;
    b{
      position: absolute;
      width: 2.38rem;
      height:5.18rem;
      background-color:rgba(47,61,87,1);
      top:.11rem;
      left:.11rem;
      transform: scale(0.75);
      transition: .3s;
      opacity: 0;
    }
    //鼠标悬停样式
    &.active{
      b{
        transform: scale(1);
        opacity: 1;
      }
      
      .content{
        font-size: .24rem;
        &.tooMenu span{
          font-size: .24rem;
        }
        bottom:2.08rem;
        .overview{
          width:.6rem;
          height:.6rem;
          background: url(./img/overviewActive.png) no-repeat;
          background-size: contain;
          margin-bottom: .38rem;
        }
        .pathogen{
          width:.55rem;
          height: .61rem;
          background: url(./img/pathogenActive.png) no-repeat;
          background-size: contain;
          margin-bottom: .37rem;
        }
        .checkups{
          width: .58rem;
          height:.6rem;
          background: url(./img/checkupsActive.png) no-repeat;
          margin-bottom: .38rem;
          background-size: contain;
        }
        .metabolic{
          width: .59rem;
          height:.57rem;
          background: url(./img/metabolicActive.png) no-repeat;
          margin-bottom: .40rem;
          background-size: contain;
        }
        .Influence{
          width: .60rem;
          height:.60rem;
          background: url(./img/InfluenceActive.png) no-repeat;
          margin-bottom: .38rem;
          background-size: contain;
        }
        .tumor{
          width: .62rem;
          height: .64rem;
          margin-bottom: .37rem;
          background: url(./img/tumorActive.png) no-repeat;
          background-size: contain;
        }
        .blood{
          width: .61rem;
          height: .51rem;
          margin-bottom: .43rem;
          background: url(./img/bloodActive.png) no-repeat;
          background-size: contain;
        }
        .across{
          width: .61rem;
          height: .51rem;
          margin-bottom: .43rem;
          background: url(./img/acrossActive.png) no-repeat;
          background-size: contain;
        }
        // 二级分类图标
      .microelement{
        width: .62rem;
        height: .52rem;
        margin-bottom: .42rem;
        background:url(./img/metabolic/microelementActive.png) no-repeat;
        background-size: contain;
      }
      .vitamin{
        width: .6rem;
        height: .71rem;
        margin-bottom: .34rem;
        background: url(./img/metabolic/vitaminActive.png) no-repeat;
        background-size: contain;
      }
      .amino{
        width: .62rem;
        height: .62rem;
        margin-bottom: .37rem;
        background: url(./img/metabolic/aminoActive.png) no-repeat;
        background-size: contain;
      }
      .hormone{
        width: .62rem;
        height: .62rem;
        margin-bottom: .37rem;
        background: url(./img/metabolic/hormoneActive.png) no-repeat;
        background-size: contain;
      }
      .thcy{
        width: .63rem;
        height: .63rem;
        margin-bottom: .37rem;
        background: url(./img/metabolic/thcyActive.png) no-repeat;
        background-size: contain;
      }
      .melatonin{
        width: .61rem;
        height: .62rem;
        margin-bottom: .37rem;
        background: url(./img/metabolic/melatoninActive.png) no-repeat;
        background-size: contain;
      }
      }
    }
    //正常时的样式
    .content{
      position: absolute;
      bottom:2.44rem;
      text-align: center;
      width: 100%;
      color:#fff;
      font-size: .2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all .3s;
      &.tooMenu span{
        font-size: .18rem;
      }
      i{
        transition: all .3s;

      }
      .overview{
        width:.47rem;
        height: .46rem;
        margin-bottom: .17rem;
        background: url(./img/overview.png) no-repeat;
        background-size: contain;

      }
     
      .pathogen{
        width: .46rem;
        height:.52rem;
        background: url(./img/pathogen.png) no-repeat;
        margin-bottom: .17rem;
        background-size: contain;
      }
      .checkups{
        width: .46rem;
        height:.47rem;
        background: url(./img/checkups.png) no-repeat;
        margin-bottom: .17rem;
        background-size: contain;
      }
      .metabolic{
        width: .5rem;
        height:.46rem;
        background: url(./img/metabolic.png) no-repeat;
        margin-bottom: .17rem;
        background-size: contain;
      }
      .Influence{
        width: .49rem;
        height:.49rem;
        background: url(./img/Influence.png) no-repeat;
        margin-bottom: .17rem;
        background-size: contain;
      }
      .tumor{
        width: .4rem;
        height: .41rem;
        background: url(./img/tumor.png) no-repeat;
        background-size: contain;
        margin-bottom: .2rem;
      }
      .blood{
        width: .43rem;
        height: .41rem;
        background: url(./img/blood.png) no-repeat;
        background-size: contain;
        margin-bottom: .19rem;
      }
      .across{
        width: .56rem;
        height: .47rem;
        background: url(./img/across.png) no-repeat;
        background-size: contain;
        margin-bottom: .17rem;
      }

      // 二级分类图标
      .microelement{
        width: .48rem;
        height: .4rem;
        margin-bottom: .22rem;
        background:url(./img/metabolic/microelement.png) no-repeat;
        background-size: contain;
      }
      .vitamin{
        width: .48rem;
        height: .58rem;
        margin-bottom: .16rem;
        background: url(./img/metabolic/vitamin.png) no-repeat;
        background-size: contain;
      }
      .amino{
        width: .48rem;
        height: .48rem;
        margin-bottom: .18rem;
        background: url(./img/metabolic/amino.png) no-repeat;
        background-size: contain;
      }
      .hormone{
        width: .48rem;
        height: .48rem;
        margin-bottom: .18rem;
        background: url(./img/metabolic/hormone.png) no-repeat;
        background-size: contain;
      }
      .thcy{
        width: .51rem;
        height: .51rem;
        margin-bottom: .17rem;
        background: url(./img/metabolic/thcy.png) no-repeat;
        background-size: contain;
      }
      .melatonin{
        width: .48rem;
        height: .48rem;
        margin-bottom: .18rem;
        background: url(./img/metabolic/melatonin.png) no-repeat;
        background-size: contain;
      }
    }
  }

}
