.types{
  width:16.59rem;
  margin: .85rem auto 0;
  display: flex;
  justify-content: space-between;
  .item{
    width:3rem;
    height:5.4rem;
    background-color: rgba(47,61,87,.5);
    position: relative;
    b{
      position: absolute;
      width: 2.8rem;
      height:5.2rem;
      background-color:rgba(47,61,87,1);
      top:.1rem;
      left:.1rem;
      transform: scale(0.75);
      transition: .3s;
      opacity: 0;
    }
    //鼠标悬停样式
    &.active{
      b{
        transform: scale(1);
        opacity: 1;
      }
      .content{
        font-size: .24rem;
        bottom:1.99rem;
        .overview{
          width:.61rem;
          height:.61rem;
          background: url(./img/overviewActive.png) no-repeat;
          background-size: contain;
          margin-bottom: .38rem;
        }
        .pathogen{
          width:.56rem;
          height: .63rem;
          background: url(./img/pathogenActive.png) no-repeat;
          background-size: contain;
          margin-bottom: .37rem;
        }
        .tumor{
          width: .62rem;
          height: .64rem;
          margin-bottom: .37rem;
          background: url(./img/tumorActive.png) no-repeat;
          background-size: contain;
        }
        .blood{
          width: .61rem;
          height: .58rem;
          margin-bottom: .39rem;
          background: url(./img/bloodActive.png) no-repeat;
          background-size: contain;
        }
        .across{
          width: .61rem;
          height: .51rem;
          margin-bottom: .43rem;
          background: url(./img/acrossActive.png) no-repeat;
          background-size: contain;
        }
      }
    }
    //正常时的样式
    .content{
      position: absolute;
      bottom:2.19rem;
      text-align: center;
      width: 100%;
      color:#fff;
      font-size: .2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all .3s;
      i{
        transition: all .3s;

      }
      .overview{
        width:.42rem;
        height: .42rem;
        margin-bottom: .19rem;
        background: url(./img/overview.png) no-repeat;
        background-size: contain;

      }
      .pathogen{
        width: .41rem;
        height:.47rem;
        background: url(./img/pathogen.png) no-repeat;
        margin-bottom: .17rem;
        background-size: contain;
      }
      .tumor{
        width: .4rem;
        height: .41rem;
        background: url(./img/tumor.png) no-repeat;
        background-size: contain;
        margin-bottom: .2rem;
      }
      .blood{
        width: .43rem;
        height: .41rem;
        background: url(./img/blood.png) no-repeat;
        background-size: contain;
        margin-bottom: .19rem;
      }
      .across{
        width: .44rem;
        height: .37rem;
        background: url(./img/across.png) no-repeat;
        background-size: contain;
        margin-bottom: .21rem;
      }
    }
  }

}
