.layout{
    position: absolute;
    right: .55rem;
    top:.36rem;
    width:1.43rem;
    height: .39rem;
    
    border-radius: .2rem;
    
    .value{
        line-height: .37rem;
        font-size: .18rem;
        width:100%;
        padding-left:.25rem;
        vertical-align: top;
        background-color: #2F3D57;
        border-radius: .2rem;
        color:rgba(255,255,255,0.5);
        border:1px solid #646A74;
        position: relative;
        z-index: 10;
        &:after{
            content: '';
            position: absolute;
            width: 0;
            height:0;
            border: .07rem solid #ACB0B8;
            border-color: transparent;
            border-top-color: #ACB0B8;
            right:.21rem;
            top:50%;
            margin-top: -.06rem;
            transform-origin: center .03rem; 
            transform: rotate(180deg);
            transition: .3s;
        }
    }
    &.active{
        .value:after{
            transform: rotate(360deg);
        }
    }
    &.active .list{
        height: auto;
        overflow: hidden;
        padding-top: .2rem;
        
    }
    .list{
        z-index: 5;
        transition: .3s;
        height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #000;
        width:100%;
        top:50%;
        left:0;
        transform: translateY(1px);
        color:rgba(255,255,255,0.5);
        li{
            line-height: .43rem;
          
            padding-left:.25rem;
            font-size: .18rem;
        }
    }

}