.layout{
    position: absolute;
    right: .55rem;
    top:.36rem;
    width:1.43rem;
    height: .39rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .05rem .05rem 0 0;
    .value{
        line-height: .39rem;
        font-size: .18rem;
        width:100%;
        padding-left:.3rem;
        vertical-align: top;
    }
    &.active .list{
        height: auto;
        overflow: hidden;
    }
    .list{
        height: 0;
        overflow: hidden;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        width:100%;
        top:100%;
        left:0;
        transform: translateY(1px);
        li{
            line-height: .4rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-left:.3rem;
            font-size: .18rem;
        }
    }

}