.overview{
    background-color: #1A2539;
    min-height: 100%;
}

.loading{
    height: 5.33rem;
    line-height: 5.33rem;
    font-size: .24rem;
    text-align: center;
    color:rgba(255,255,255,.5);
}